
.blue-section {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #cddbfd;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
}

table {
    margin: auto;
    width: 90%;
}

th, td {
    text-align: center;
}

th {
    background-color:  #CDDBFE;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}

